@model Akios.Domain.Entities.Kullanici
@{
    ViewBag.Title = "Kullanıcı Bilgisi";
    ViewBag.Description = "Sistemde tanımlı kullanıcı bilgisi görüntülenir.";
    Layout = null;
}

<script type="text/javascript">
    $(function() {
        $(".select2").select2();
    });
</script>

@Html.HiddenFor(m => m.KullaniciId)
<label>Minimal</label>
<select class="form-control select2" style="width: 100%;">
    <option selected="selected">Alabama</option>
    <option>Alaska</option>
    <option>California</option>
    <option>Delaware</option>
    <option>Tennessee</option>
    <option>Texas</option>
    <option>Washington</option>
</select>
@foreach (var property in ViewData.ModelMetadata.Properties)
{
    switch (property.PropertyName)
    {
        case "KullaniciId":
        case "MusteriId":
        case "IsAdmin":
        case "FotoData":
        case "FotoMimeType":
        case "KayitTarihi":
            // do nothing
            break;
        default:
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                @Html.ValidationMessage(property.PropertyName)
            </div>
            break;
    }
}

<div class="form-group">
    <div style="position: relative;">
        <label>Fotoğraf</label>
        <a class='btn' href='javascript:;'>
            Choose File...
            <input type="file" name="Image" size="40"
                   style="position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); opacity: 0; background-color: transparent; color: transparent;"
                   onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        <span class='label  label-info' id="upload-file-info"></span>
    </div>
    <img class="img-circle" width="150" height="150" src="@Url.Action("FotoYukle", "Kullanici", new { Model.KullaniciId })" />
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
    <button type="button" class="btn btn-primary">Kaydet</button>
</div>
